<div class="row my-3">
    <div class="col-md-4 col-sm-12">
        <div class="p-3 bg-white rounded shadow-sm panel-graph">
            <h6 class="border-bottom border-gray pb-2 mb-0">Coverage sunburst</h6>
            <div class="mt-2">
                <div id="sunburst-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="p-3 bg-white rounded shadow-sm panel-graph">
            <h6 class="border-bottom border-gray pb-2 mb-0">PhpMetrics Violations</h6>
            <canvas class="mt-3" id="canvas-phpmetrics"></canvas>
            <p class="text-muted text-center mt-3"><small>Criticals, errors and warnings</small></p>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="p-3 bg-white rounded shadow-sm panel-graph">
            <h6 class="border-bottom border-gray pb-2 mb-0">PhpMetrics Averages</h6>
            <canvas class="mt-3" id="canvas-avg"></canvas>
            <p class="text-muted text-center mt-3"><small>Complexity, coupling and bugs</small></p>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-sm-3 col-xs-6">
        <div class="p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Global coverage</h6>
            <h3 class="text-center text-dark mt-3">
                {{ cloverTotalCoverage(artifacts) }}
            </h3>
        </div>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Total tests</h6>
            <h3 class="text-center text-dark mt-3">
                {{ junitSumTests(artifacts) }}
            </h3>
        </div>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Total lines of code</h6>
            <h3 class="text-center text-dark mt-3">
                {{ phpmetricsTotalLoc(artifacts) }}
            </h3>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-12 col-sm-12">
        <div class="p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Crap</h6>
            <canvas class="mt-3" id="canvas-crap"></canvas>
            <p class="text-muted text-center mt-3"><small>Crappy methods with complexity level</small></p>
        </div>
    </div>
</div>
