{
    "chmod": "0755",
    "directories": [
        "src",
        "config",
        "templates"
    ],
    "files": [
        ".env",
        "LICENSE",
        "vendor/herrera-io/phar-update/res/schema.json"
    ],
    "finder": [
        {
            "exclude": ["Tests", "tests"],
            "in": "vendor"
        }
    ],
    "main": "bin/qat",
    "output": "qat.phar",
    "stub": true
}
