<div class="card panel-graph">
    <div class="p-3">
        <h6 class="border-bottom border-gray pb-2 mb-0">Coverage sunburst</h6>
        <div class="mt-2"><div id="sunburst-chart"></div></div>
    </div>
</div>
