<div class="card">
    <div class="p-3">
        <h6 class="border-bottom border-gray pb-2 mb-0">Total time</h6>
        <h3 class="text-center text-dark mt-3">
            <i class="material-icons">timer</i>
            {{ cucumberTotalTime(artifacts) }}
        </h3>
    </div>
</div>

